<?xml version="1.0"?>
<config>
    <modules>
        <Nhatbq_MegaMenu>
            <version>0.1.0</version>
        </Nhatbq_MegaMenu>
    </modules>
    <global>
        <models>
            <nhatbq_megamenu>
                <class>Nhatbq_MegaMenu_Model</class>
                <resourceModel>Nhatbq_megamenu_resource</resourceModel>
            </nhatbq_megamenu>
            <nhatbq_megamenu_resource>
                <class>Nhatbq_MegaMenu_Model_Resource</class>
                <entities>
                    <menuitem>
                        <table>menuitem</table>
                    </menuitem>
                </entities>
            </nhatbq_megamenu_resource>
        </models>
        <blocks>
            <nhatbq_megamenu>
                <class>Nhatbq_MegaMenu_Block</class>
            </nhatbq_megamenu>
        </blocks>
        <helpers>
            <Nhatbq_MegaMenu>
                <class>Nhatbq_MegaMenu_Helper</class>
            </Nhatbq_MegaMenu>
        </helpers>
        <resources>
            <Nhatbq_Megamenu_setup>
                <setup>
                    <module>Nhatbq_MegaMenu</module>
                </setup>
            </Nhatbq_Megamenu_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Nhatbq_MegaMenu after="Mage_Adminhtml">Nhatbq_MegaMenu_Adminhtml</Nhatbq_MegaMenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>