<config>
    <sections>
        <mybestseller translate="title">
            <label>Bestseller Slide Options</label>
            <tab>dangnd</tab>
            <sort_order>10</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <bestseller_group translate="title">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <qty translate="title">
                            <label>Quantity :</label>
                            <frontend_type>text</frontend_type>
                            <comment>The quantity of the product is displayed</comment>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_store>1</show_in_store>
                            <show_in_website>1</show_in_website>
                        </qty>
                        <effect translate="label">
                            <label>Effect :</label>
                            <frontend_type>select</frontend_type>
                            <comment>Effect for slides</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>dangnd_bestseller/effectSlide</source_model>
                        </effect>
                        <active translate="label">
                            <label>Is Active :</label>
                            <frontend_type>select</frontend_type>
                            <comment>Enable/Disable</comment>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </active>
                    </fields>
                </bestseller_group>
            </groups>
        </mybestseller>
    </sections>
</config>