<?xml version="1.0"?>
<config>
    <default>
        <cms>
            <wysiwyg>
                <enabled>0</enabled>
            </wysiwyg>
        </cms>
    </default>
    <modules>
        <NhatBq_Zoom>
            <version>0.1.0</version>
        </NhatBq_Zoom>
    </modules>
    <frontend>
        <routers>
            <nhatbq_zoom>
                <use>standard</use>
                <args>
                    <frontName>zoom</frontName>
                    <module>Nhatbq_Zoom</module>
                </args>
            </nhatbq_zoom>
        </routers>
        <layout>
            <updates>
                <nhatbq_zoom>
                    <file>nhatbq_zoom.xml</file>
                </nhatbq_zoom>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <nhatbq_zoom>
                <class>Nhatbq_Zoom_Model</class>
                <resourceModel>nhatbq_zoom_resource</resourceModel>
            </nhatbq_zoom>
            <nhatbq_zoom_resource>
                <class>Nhatbq_Zoom_Model_Resource</class>
            </nhatbq_zoom_resource>
        </models>
        <blocks>
            <nhatbq_zoom>
                <class>Nhatbq_Zoom_Block</class>
            </nhatbq_zoom>
        </blocks>
        <helpers>
            <nhatbq_zoom>
                <class>Nhatbq_Zoom_Helper</class>
            </nhatbq_zoom>
        </helpers>
    </global>
</config>