<?xml version="1.0"?>
<config>
    <modules>
        <Hienth_MegaMenu>
            <version>0.1.0</version>
        </Hienth_MegaMenu>
    </modules>
    <global>
        <models>
            <Hienth_MegaMenu>
                <class>Hienth_MegaMenu_Model</class>
                <resourceModel>Hienth_MegaMenu_resource</resourceModel>
            </Hienth_MegaMenu>
            <Hienth_MegaMenu_resource>
                <class>Hienth_MegaMenu_Model_Resource</class>
                <entities>
                    <menu>
                        <table>menu</table>
                    </menu>
                </entities>
            </Hienth_MegaMenu_resource>
        </models>
        <blocks>
            <Hienth_MegaMenu>
                <class>Hienth_MegaMenu_Block</class>
            </Hienth_MegaMenu>
        </blocks>
        <helpers>
            <Hienth_MegaMenu>
                <class>Hienth_MegaMenu_Helper</class>
            </Hienth_MegaMenu>
        </helpers>
        <resources>
            <Hienth_MegaMenu_setup>
                <setup>
                    <module>Hienth_MegaMenu</module>
                </setup>
            </Hienth_MegaMenu_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <megamenufront>
                <use>standard</use>
                <args>
                    <module>Hienth_MegaMenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </megamenufront>
        </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hienth_MegaMenu after="Mage_Adminhtml">Hienth_MegaMenu_Adminhtml</Hienth_MegaMenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>