<?xml version="1.0"?>
<config>
    <modules>
        <Datdt_MegaMenu>
            <version>0.1.0</version>
        </Datdt_MegaMenu>
    </modules>
    <frontend>
        <routers>
            <MegaMenu>
                <use>standard</use>
                <args>
                    <module>Datdt_MegaMenu</module>
                    <frontName>megamenu</frontName>
                </args>
            </MegaMenu>
        </routers>
    </frontend>
    <global>
        <models>
            <datdt_megamenu>
                <class>Datdt_MegaMenu_Model</class>
                <resourceModel>datdt_megamenu_resource</resourceModel>
            </datdt_megamenu>
            <datdt_megamenu_resource>
                <class>Datdt_MegaMenu_Model_Resource</class>
                <entities>
                   <category>
                       <table>category</table>
                    </category>
                    <custom>
                        <table>custom</table>
                    </custom>
                    <product>
                        <table>product</table>
                    </product>
                </entities>
            </datdt_megamenu_resource>
        </models>
        <blocks>
            <datdt_megamenu>
                <class>Datdt_MegaMenu_Block</class>
            </datdt_megamenu>
        </blocks>
        <helpers>
            <datdt_megamenu>
                <class>Datdt_MegaMenu_Helper</class>
            </datdt_megamenu>
        </helpers>
        <resources>
            <datdt_megamenu_setup>
                <setup>
                    <module>Datdt_MegaMenu</module>
                </setup>
            </datdt_megamenu_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Datdt_MegaMenu before="Mage_Adminhtml">Datdt_MegaMenu_Adminhtml</Datdt_MegaMenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>