<?xml version="1.0"?>
<config>
    <modules>
        <Datdt_MegaMenu>
            <version>0.1.0</version>
        </Datdt_MegaMenu>
    </modules>
    <global>
        <helpers>
            <datdt_megamenu>
                <class>Datdt_MegaMenu_Helper</class>
            </datdt_megamenu>
        </helpers>
        <resources>
            <datdt_megamenu_setup>
                <setup>
                    <module>Datdt_MegaMenu</module>
                </setup>
            </datdt_megamenu_setup>
        </resources>
        <blocks>
            <megamenu>
                <class>Datdt_MegaMenu_Block</class>
            </megamenu>
        </blocks>
    </global>
    <frontend>
        <routers>
             <MegaMenu>
                <use>standard</use>
                <args>
                    <frontName>megamenu</frontName>
                    <module>Datdt_MegaMenu</module>
                </args>
             </MegaMenu>
        </routers>
    </frontend>
</config>