<?xml version="1.0"?>
<config>
    <modules>
        <Datdt_Assignment4>
            <version>0.1.0</version>
        </Datdt_Assignment4>
    </modules>
    <global>
        <helpers>
            <datdt_assignment4>
                <class>Datdt_Assignment4_Helper</class>
            </datdt_assignment4>
        </helpers>
        <resources>
            <datdt_assignment4_setup>
                <setup>
                    <module>Datdt_Assignment4</module>
                </setup>
            </datdt_assignment4_setup>
        </resources>
        <blocks>
            <assignment4>
                <class>Datdt_Assignment4_Block</class>
            </assignment4>
        </blocks>
    </global>
    <frontend>
        <routers>
             <Assignment4>
                <use>standard</use>
                <args>
                    <frontName>ass4</frontName>
                    <module>Datdt_Assignment4</module>
                </args>
             </Assignment4>
        </routers>
    </frontend>
</config>