<?xml version="1.0"?>
<config>
    <modules>
        <Nhatbq_Bestseller>
            <version>0.1.0</version>
        </Nhatbq_Bestseller>
    </modules>
    <frontend>
        <routers>
            <nhatbq_bestseller>
                <use>standard</use>
                <args>
                    <module>Nhatbq_Bestseller</module>
                    <frontName>bestseller</frontName>
                </args>
            </nhatbq_bestseller>
        </routers>
    </frontend>
    <global>
        <models>
            <Nhatbq_Bestseller>
                <class>nhatbq_Bestseller_Model</class>
                <resourceModel>nhatbq_Bestseller_resource</resourceModel>
            </Nhatbq_Bestseller>
            <Nhatbq_Bestseller_resource>
                <class>Nhatbq_Bestseller_Model_Resource</class>
            </Nhatbq_Bestseller_resource>
        </models>
        <blocks>
            <nhatbq_bestseller>
                <class>Nhatbq_Bestseller_Block</class>
            </nhatbq_bestseller>
        </blocks>
        <helpers>
            <Nhatbq_Bestseller>
                <class>Nhatbq_Bestseller_Helper</class>
            </Nhatbq_Bestseller>
        </helpers>
        <resources>
            <Nhatbq_Bestseller_setup>
                <setup>
                    <module>Nhatbq_Bestseller</module>
                </setup>
            </Nhatbq_Bestseller_setup>
        </resources>
    </global>
</config>