<?xml version="1.0"?>
<config>
    <modules>
        <Dangnd_Zoom>
            <version>0.1.0</version>
        </Dangnd_Zoom>
    </modules>
    <frontend>
        <layout>
            <updates>
                <dangnd_zoom>
                    <file>dangnd_zoom.xml</file>
                </dangnd_zoom>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dangnd_Zoom before="Mage_Adminhtml">Dangnd_Zoom_Adminhtml</Dangnd_Zoom>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>