<?xml version="1.0"?>
<config>
    <modules>
        <Dangnd_Zoom>
            <version>0.1.0</version>
        </Dangnd_Zoom>
    </modules>
    <global>
        <blocks>
            <dangnd_zoom>
                <class>Dangnd_Zoom_Block</class>
            </dangnd_zoom>
        </blocks>
        <helpers>
            <dangnd_zoom>
                <class>Dangnd_Zoom_Helper</class>
            </dangnd_zoom>
        </helpers>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dangnd_Zoom before="Mage_Adminhtml">Dangnd_Zoom_Adminhtml</Dangnd_Zoom>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>