<?xml version="1.0"?>
<config>
    <modules>
        <Hungbd_Bestseller>
            <version>0.1.0</version>
        </Hungbd_Bestseller>
    </modules>
    <frontend>
        <routers>
            <hungbd_bestseller>
                <use>standard</use>
                <args>
                    <module>Hungbd_Bestseller</module>
                    <frontName>bestseller</frontName>
                </args>
            </hungbd_bestseller>
        </routers>
    </frontend>
    <global>
        <models>
            <Hungbd_Bestseller>
                <class>Hungbd_Bestseller_Model</class>
                <resourceModel>Hungbd_Bestseller_resource</resourceModel>
            </Hungbd_Bestseller>
            <Hungbd_Bestseller_resource>
                <class>Hungbd_Bestseller_Model_Resource</class>
            </Hungbd_Bestseller_resource>
        </models>
        <blocks>
            <hungbd_bestseller>
                <class>Hungbd_Bestseller_Block</class>
            </hungbd_bestseller>
        </blocks>
        <helpers>
            <Hungbd_Bestseller>
                <class>Hungbd_Bestseller_Helper</class>
            </Hungbd_Bestseller>
        </helpers>
        <resources>
            <Hungbd_Bestseller_setup>
                <setup>
                    <module>Hungbd_Bestseller</module>
                </setup>
            </Hungbd_Bestseller_setup>
        </resources>
    </global>
</config>