<?xml version="1.0"?>
<config>
    <modules>
        <Dangnd_Filter>
            <version>0.1.0</version>
        </Dangnd_Filter>
    </modules>
    <global>
        <models>
            <dangnd_filter>
                <class>Dangnd_Filter_Model</class>
                <resourceModel>dangnd_filter_resource</resourceModel>
            </dangnd_filter>
            <dangnd_filter_resource>
                <class>Dangnd_Filter_Model_Resource</class>
                <entities>
                    <filter>mock_filter_type</filter>
                </entities>
            </dangnd_filter_resource>
        </models>
        <blocks>
            <dangnd_filter>
                <class>Dangnd_Filter_Block</class>
            </dangnd_filter>
        </blocks>
        <helpers>
            <dangnd_filter>
                <class>Dangnd_Filter_Helper</class>
            </dangnd_filter>
        </helpers>
        <resources>
            <dangnd_filter_setup>
                <setup>
                    <module>Dangnd_Filter</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </dangnd_filter_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <dangnd_filter>
                    <file>dangnd_filter.xml</file>
                </dangnd_filter>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dangnd_Filter before="Mage_Adminhtml">Dangnd_Filter_Adminhtml</Dangnd_Filter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <adminhtml_catalog_product_attribute_edit_prepare_form>
                <observers>
                    <tooltip>
                        <type>singleton</type>
                        <class>dangnd_filter/observer</class>
                        <method>addFieldToAttributeEditForm</method>
                    </tooltip>
                </observers>
            </adminhtml_catalog_product_attribute_edit_prepare_form>
        </events>
    </adminhtml>
</config>