<?xml version="1.0"?>
<config>
    <modules>
        <SM_Featured>
            <version>0.1.0</version>
        </SM_Featured>
    </modules>
    <global>
        <models>
            <SM_Featured>
                <class>SM_Featured_Model</class>
                <resourceModel>SM_Featured_resource</resourceModel>
            </SM_Featured>
            <SM_Featured_resource>
                <class>SM_Featured_Model_Resource</class>
            </SM_Featured_resource>
        </models>
        <blocks>
            <sm_featured>
                <class>SM_Featured_Block</class>
            </sm_featured>
        </blocks>
        <helpers>
            <SM_Featured>
                <class>SM_Featured_Helper</class>
            </SM_Featured>
        </helpers>
        <resources>
            <SM_Featured_setup>
                <setup>
                    <module>SM_Featured</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </SM_Featured_setup>
        </resources>

    </global>
</config>