<?xml version="1.0"?>
<config>
    <modules>
        <Hungbd_Featured>
            <version>0.1.0</version>
        </Hungbd_Featured>
    </modules>
    <frontend>
        <routers>
            <hungbd_bestseller>
                <use>standard</use>
                <args>
                    <module>Hungbd_Featured</module>
                    <frontName>featured</frontName>
                </args>
            </hungbd_bestseller>
        </routers>
    </frontend>
    <global>
        <models>
            <Hungbd_Featured>
                <class>Hungbd_Featured_Model</class>
                <resourceModel>Hungbd_Featured_resource</resourceModel>
            </Hungbd_Featured>
            <Hungbd_Featured_resource>
                <class>Hungbd_Featured_Model_Resource</class>
            </Hungbd_Featured_resource>
        </models>
        <blocks>
            <hungbd_featured>
                <class>Hungbd_Featured_Block</class>
            </hungbd_featured>
        </blocks>
        <helpers>
            <Hungbd_Featured>
                <class>Hungbd_Featured_Helper</class>
            </Hungbd_Featured>
        </helpers>
        <resources>
            <Hungbd_Featured_setup>
                <setup>
                    <module>Hungbd_Featured</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </Hungbd_Featured_setup>
        </resources>
    </global>
</config>