<?xml version="1.0"?>
<config>
    <modules>
        <Datdt_Slider>
            <version>0.1.0</version>
        </Datdt_Slider>
    </modules>
    <global>
        <helpers>
            <datdt_slider>
                <class>Datdt_Slider_Helper</class>
            </datdt_slider>
        </helpers>
        <resources>
            <datdt_slider_setup>
                <setup>
                    <module>Datdt_Slider</module>
                </setup>
            </datdt_slider_setup>
        </resources>
        <blocks>
            <slider>
                <class>Datdt_Slider_Block</class>
            </slider>
        </blocks>
    </global>
    <frontend>
        <routers>
             <Slider>
                <use>standard</use>
                <args>
                    <frontName>slider</frontName>
                    <module>Datdt_Slider</module>
                </args>
             </Slider>
        </routers>
    </frontend>
</config>