<?xml version="1.0"?>
<config>
    <modules>
        <Nhatbq_Slider>
            <version>0.1.0</version>
        </Nhatbq_Slider>
    </modules>
    <global>
        <models>
            <nhatbq_slider>
                <class>Nhatbq_Slider_Model</class>
                <resourceModel>Nhatbq_slider_resource</resourceModel>
            </Nhatbq_slider>
            <nhatbq_slider_resource>
                <class>Nhatbq_Slider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>Nhatbq_slider</table>
                    </slider>
                </entities>
                <entities>
                    <image>
                        <table>nhatbq_image</table>
                    </image>
                </entities>
                <entities>
                    <listimage>
                        <table>nhatbq_listimage</table>
                    </listimage>
                </entities>
            </nhatbq_slider_resource>
        </models>
        <blocks>
            <nhatbq_slider>
                <class>Nhatbq_Slider_Block</class>
            </nhatbq_slider>
        </blocks>
        <helpers>
            <Nhatbq_Slider>
                <class>Nhatbq_Slider_Helper</class>
            </Nhatbq_Slider>
        </helpers>
        <resources>
            <Nhatbq_Slider_setup>
                <setup>
                    <module>Nhatbq_Slider</module>
                </setup>
            </Nhatbq_Slider_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Nhatbq_Slider after="Mage_Adminhtml">Nhatbq_Slider_Adminhtml</Nhatbq_Slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>