<?xml version="1.0"?>
<config>
    <modules>
        <Hungbd_Slider>
            <version>0.1.0</version>
        </Hungbd_Slider>
    </modules>
    <global>
        <models>
            <hungbd_slider>
                <class>Hungbd_Slider_Model</class>
                <resourceModel>hungbd_slider_resource</resourceModel>
            </hungbd_slider>
            <hungbd_slider_resource>
                <class>Hungbd_Slider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>hungbd_slider</table>
                    </slider>
                </entities>
                <entities>
                    <image>
                        <table>hungbd_image</table>
                    </image>
                </entities>
                <entities>
                    <listimage>
                        <table>hungbd_listimage</table>
                    </listimage>
                </entities>
            </hungbd_slider_resource>
        </models>
        <blocks>
            <hungbd_slider>
                <class>Hungbd_Slider_Block</class>
            </hungbd_slider>
        </blocks>
        <helpers>
            <Hungbd_Slider>
                <class>Hungbd_Slider_Helper</class>
            </Hungbd_Slider>
        </helpers>
        <resources>
            <Hungbd_Slider_setup>
                <setup>
                    <module>Hungbd_Slider</module>
                </setup>
            </Hungbd_Slider_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hungbd_Slider after="Mage_Adminhtml">Hungbd_Slider_Adminhtml</Hungbd_Slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>