<?xml version="1.0"?>
<config>
    <modules>
        <Hienth_Slider>
            <version>0.1.0</version>
        </Hienth_Slider>
    </modules>
    <global>
        <models>
            <Hienth_Slider>
                <class>Hienth_Slider_Model</class>
                <resourceModel>Hienth_Slider_resource</resourceModel>
            </Hienth_Slider>
            <Hienth_Slider_resource>
                <class>Hienth_Slider_Model_Resource</class>
                <entities>
                    <slider>
                        <table>slider_table</table>
                    </slider>
                </entities>
                <entities>
                    <image>
                        <table>image_slider_table</table>
                    </image>
                </entities>
            </Hienth_Slider_resource>
        </models>
        <blocks>
            <Hienth_Slider>
                <class>Hienth_Slider_Block</class>
            </Hienth_Slider>
        </blocks>
        <helpers>
            <Hienth_Slider>
                <class>Hienth_Slider_Helper</class>
            </Hienth_Slider>
        </helpers>
        <resources>
            <Hienth_Slider_setup>
                <setup>
                    <module>Hienth_Slider</module>
                </setup>
            </Hienth_Slider_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hienth_Slider after="Mage_Adminhtml">Hienth_Slider_Adminhtml</Hienth_Slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>