<?xml version="1.0"?>
<config>
    <modules>
        <Dangnd_Slider>
            <version>0.1.0</version>
        </Dangnd_Slider>
    </modules>
    <global>
        <models>
            <dangnd_slider>
                <class>Dangnd_Slider_Model</class>
                <resourceModel>dangnd_slider_resource</resourceModel>
            </dangnd_slider>
            <dangnd_slider_resource>
                <class>Dangnd_Slider_Model_Resource</class>
                <entities>
                    <slide>
                        <table>mock_slider_slide</table>
                    </slide>
                    <images>
                        <table>mock_slider_images</table>
                    </images>
                </entities>
            </dangnd_slider_resource>
        </models>
        <blocks>
            <dangnd_slider>
                <class>Dangnd_Slider_Block</class>
            </dangnd_slider>
        </blocks>
        <helpers>
            <dangnd_slider>
                <class>Dangnd_Slider_Helper</class>
            </dangnd_slider>
        </helpers>
        <resources>
            <dangnd_slider_setup>
                <setup>
                    <module>Dangnd_Slider</module>
                </setup>
            </dangnd_slider_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <dangnd_slider>
                    <file>dangnd_slider.xml</file>
                </dangnd_slider>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dangnd_Slider before="Mage_Adminhtml">Dangnd_Slider_Adminhtml</Dangnd_Slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <myslider>
            <slider_group>
                <type>horizontal</type>
                <slide>1</slide>
                <active>1</active>
            </slider_group>
        </myslider>
    </default>
</config>