<?xml version="1.0" encoding="UTF-8"?>
<config>
    <tabs>
        <dangnd translate="label">
            <label>MY CONFIGURATION</label>
            <sort_order>0</sort_order>
        </dangnd>
    </tabs>
    <sections>
        <myslider translate="label">
            <label>Slider Options</label>
            <tab>dangnd</tab>
            <sort_order>0</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <slider_group translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>0</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <type translate="label">
                            <label>Type Display :</label>
                            <frontend_type>select</frontend_type>
                            <comment>Choose a display type on the frontend</comment>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>dangnd_slider/typeSlider</source_model>
                        </type>
                        <active translate="label">
                            <label>Is Active :</label>
                            <frontend_type>select</frontend_type>
                            <comment>Enable/Disable</comment>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                        </active>
                    </fields>
                </slider_group>
            </groups>
        </myslider>
    </sections>
</config>