<?xml version="1.0"?>
<config>
    <modules>
        <AnhNT9_Filter>
            <version>0.1.0</version>
        </AnhNT9_Filter>
    </modules>
    <frontend>
        <routers>
            <anhnt9_filter>
                <use>standard</use>
                <args>
                    <frontName>product-filter</frontName>
                    <module>AnhNT9_Filter</module>
                </args>
            </anhnt9_filter>
        </routers>
        <layout>
            <updates>
                <anhnt9_filter>
                    <file>anhnt9_filter.xml</file>
                </anhnt9_filter>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <anhnt9_filter>
                <class>AnhNT9_Filter_Model</class>
                <resourceModel>Filter_resource</resourceModel>
            </anhnt9_filter>
            <anhnt9_filter_resource>
                <class>AnhNT9_Filter_Model_Resource</class>
            </anhnt9_filter_resource>
        </models>
        <blocks>
            <anhnt9_filter>
                <class>AnhNT9_Filter_Block</class>
            </anhnt9_filter>
        </blocks>
        <helpers>
            <anhnt9_filter>
                <class>AnhNT9_Filter_Helper</class>
            </anhnt9_filter>
        </helpers>
    </global>
</config>