<?xml version="1.0"?>
<config>
    <modules>
        <AnhNT9_Filter>
            <version>0.1.0</version>
        </AnhNT9_Filter>
    </modules>
    <frontend>
        <routers>
            <anhnt9_filter>
                <use>standard</use>
                <args>
                    <frontName>product-filter</frontName>
                    <module>AnhNT9_Filter</module>
                </args>
            </anhnt9_filter>
            <catalog>
                <args>
                    <modules>
                        <AnhNT9_Filter before="Mage_Catalog">AnhNT9_Filter_Catalog</AnhNT9_Filter>
                    </modules>
                </args>
            </catalog>
            <catalogsearch>
                <args>
                    <modules>
                        <AnhNT9_Filter before="Mage_CatalogSearch">AnhNT9_Filter_CatalogSearch</AnhNT9_Filter>
                    </modules>
                </args>
            </catalogsearch>
        </routers>
        <layout>
            <updates>
                <anhnt9_filter>
                    <file>anhnt9_filter.xml</file>
                </anhnt9_filter>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <anhnt9_filter>
                <class>AnhNT9_Filter_Model</class>
                <resourceModel>Filter_resource</resourceModel>
            </anhnt9_filter>
            <anhnt9_filter_resource>
                <class>AnhNT9_Filter_Model_Resource</class>
            </anhnt9_filter_resource>
        </models>
        <blocks>
            <catalog>
                <rewrite>
                    <layer_view>AnhNT9_Filter_Block_Catalog_Layer_View</layer_view>
                    <layer_state>AnhNT9_Filter_Block_Catalog_Layer_State</layer_state>
                    <layer_filter_abstract>AnhNT9_Filter_Block_Catalog_Layer_Abstract</layer_filter_abstract>
                </rewrite>
            </catalog>
        </blocks>
        <helpers>
            <anhnt9_filter>
                <class>AnhNT9_Filter_Helper</class>
            </anhnt9_filter>
            <configurableswatches><!-- change here -->
                <rewrite>
                    <productimg>AnhNT9_Filter_Helper_Productimg</productimg>
                    <productlist>AnhNT9_Filter_Helper_Productlist</productlist>
                </rewrite>
            </configurableswatches><!-- change here -->
        </helpers>
    </global>
</config>