<?xml version="1.0"?>
<config>
    <modules>
        <AnhNT9_ProductZoom>
            <version>0.1.0</version>
        </AnhNT9_ProductZoom>
    </modules>
    <frontend>
        <routers>
            <anhnt9_productzoom>
                <use>standard</use>
                <args>
                    <frontName>product-zoom</frontName>
                    <module>AnhNT9_ProductZoom</module>
                </args>
            </anhnt9_productzoom>
        </routers>
        <layout>
            <updates>
                <anhnt9_filter>
                    <file>anhnt9_zoom.xml</file>
                </anhnt9_filter>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <anhnt9_productzoom>
                <class>AnhNT9_ProductZoom_Model</class>
                <resourceModel>anhnt9_productzoom_resource</resourceModel>
            </anhnt9_productzoom>
            <anhnt9_productzoom_resource>
                <class>AnhNT9_ProductZoom_Model_Resource</class>
            </anhnt9_productzoom_resource>
        </models>
        <blocks>
            <anhnt9_productzoom>
                <class>AnhNT9_ProductZoom_Block</class>
            </anhnt9_productzoom>
        </blocks>
        <helpers>
            <anhnt9_productzoom>
                <class>AnhNT9_ProductZoom_Helper</class>
            </anhnt9_productzoom>
        </helpers>
    </global>
</config>