<?xml version="1.0"?>
<config>
    <modules>
        <AnhNT9_FeaturedProduct>
            <version>0.1.0</version>
        </AnhNT9_FeaturedProduct>
    </modules>
    <frontend>
        <routers>
            <anhnt9_featuredproduct>
                <use>standard</use>
                <args>
                    <frontName>product-featured</frontName>
                    <module>AnhNT9_FeaturedProduct</module>
                </args>
            </anhnt9_featuredproduct>
        </routers>
        <layout>
            <updates>
                <anhnt9_featuredproduct>
                    <file>productlabel.xml</file>
                </anhnt9_featuredproduct>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <anhnt9_featuredproduct>
                <class>AnhNT9_FeaturedProduct_Model</class>
                <resourceModel>Featured_resource</resourceModel>
            </anhnt9_featuredproduct>
            <anhnt9_featuredproduct_resource>
                <class>AnhNT9_FeaturedProduct_Model_Resource</class>
            </anhnt9_featuredproduct_resource>
        </models>
        <blocks>
            <anhnt9_featuredproduct>
                <class>AnhNT9_FeaturedProduct_Block</class>
            </anhnt9_featuredproduct>
        </blocks>
        <helpers>
            <anhnt9_featuredproduct>
                <class>AnhNT9_FeaturedProduct_Helper</class>
            </anhnt9_featuredproduct>
        </helpers>
    </global>
</config>