<?xml version="1.0"?>
<config>
    <modules>
        <Hungbd_MegaMenu>
            <version>0.1.0</version>
        </Hungbd_MegaMenu>
    </modules>
    <frontend>
        <routers>
            <megamenu>
                <use>standard</use>
                <args>
                    <frontName>megamenu</frontName>
                    <module>Hungbd_MegaMenu</module>
                </args>
            </megamenu>
        </routers>
    </frontend>
    <global>
        <models>
            <hungbd_megamenu>
                <class>Hungbd_MegaMenu_Model</class>
                <resourceModel>hungbd_megamenu_resource</resourceModel>
            </hungbd_megamenu>
            <hungbd_megamenu_resource>
                <class>Hungbd_MegaMenu_Model_Resource</class>
                <entities>
                    <menuitem>
                        <table>menuitem</table>
                    </menuitem>
                </entities>
            </hungbd_megamenu_resource>
        </models>
        <blocks>
            <hungbd_megamenu>
                <class>Hungbd_MegaMenu_Block</class>
            </hungbd_megamenu>
        </blocks>
        <helpers>
            <Hungbd_MegaMenu>
                <class>Hungbd_MegaMenu_Helper</class>
            </Hungbd_MegaMenu>
        </helpers>
        <resources>
            <Hungbd_Megamenu_setup>
                <setup>
                    <module>Hungbd_MegaMenu</module>
                </setup>
            </Hungbd_Megamenu_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hungbd_MegaMenu after="Mage_Adminhtml">Hungbd_MegaMenu_Adminhtml</Hungbd_MegaMenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>