<?xml version="1.0"?>
<config>
    <modules>
        <Tungtt_MegaMenu>
            <version>0.1.0</version>
        </Tungtt_MegaMenu>
    </modules>
    <global>
        <models>
            <tungtt_megamenu>
                <class>Tungtt_MegaMenu_Model</class>
                <resourceModel>tungtt_megamenu_resource</resourceModel>
            </tungtt_megamenu>
            <tungtt_megamenu_resource>
                <class>Tungtt_MegaMenu_Model_Resource</class>
                <entities>
                    <menuitem>
                        <table>menuitem</table>
                    </menuitem>
                </entities>
            </tungtt_megamenu_resource>
        </models>
        <blocks>
            <tungtt_megamenu>
                <class>Tungtt_MegaMenu_Block</class>
            </tungtt_megamenu>
        </blocks>
        <helpers>
            <tungtt_megamenu>
                <class>Tungtt_MegaMenu_Helper</class>
            </tungtt_megamenu>
        </helpers>
        <resources>
            <tungtt_megamenu_setup>
                <setup>
                    <module>Tungtt_MegaMenu</module>
                </setup>
            </tungtt_megamenu_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Tungtt_MegaMenu after="Mage_Adminhtml">Tungtt_MegaMenu_Adminhtml</Tungtt_MegaMenu>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>