<?xml version="1.0"?>
<config>
    <modules>
        <AnhNT9_ProductLabel>
            <version>0.1.0</version>
        </AnhNT9_ProductLabel>
    </modules>
    <frontend>
        <routers>
            <productlabel>
                <use>standard</use>
                <args>
                    <frontName>product-label</frontName>
                    <module>AnhNT9_ProductLabel</module>
                </args>
            </productlabel>
        </routers>
        <layout>
            <updates>
                <anhnt9_productlabel>
                    <file>productlabel.xml</file>
                </anhnt9_productlabel>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <anhnt9_productlabel>
                <class>AnhNT9_ProductLabel_Model</class>
                <resourceModel>productlabelmodule_resource</resourceModel>
            </anhnt9_productlabel>
            <anhnt9_productlabel_resource>
                <class>AnhNT9_ProductLabel_Model_Resource</class>
            </anhnt9_productlabel_resource>
        </models>
        <blocks>
            <anhnt9_productlabel>
                <class>AnhNT9_ProductLabel_Block</class>
            </anhnt9_productlabel>
        </blocks>
        <helpers>
            <anhnt9_productlabel>
                <class>AnhNT9_ProductLabel_Helper</class>
            </anhnt9_productlabel>
        </helpers>
    </global>
</config>