<?xml version="1.0"?>
<config>
    <modules>
        <SM_Bestseller>
            <version>0.1.0</version>
        </SM_Bestseller>
    </modules>
    <frontend>
        <routers>
            <sm_bestseller>
                <use>standard</use>
                <args>
                    <module>SM_Bestseller</module>
                    <frontName>bestseller</frontName>
                </args>
            </sm_bestseller>
        </routers>
    </frontend>
    <global>
        <models>
            <SM_Bestseller>
                <class>SM_Bestseller_Model</class>
                <resourceModel>SM_Bestseller_resource</resourceModel>
            </SM_Bestseller>
            <SM_Bestseller_resource>
                <class>SM_Bestseller_Model_Resource</class>
            </SM_Bestseller_resource>
        </models>
        <blocks>
            <sm_bestseller>
                <class>SM_Bestseller_Block</class>
            </sm_bestseller>
        </blocks>
        <helpers>
            <SM_Bestseller>
                <class>SM_Bestseller_Helper</class>
            </SM_Bestseller>
        </helpers>
        <resources>
            <SM_Bestseller_setup>
                <setup>
                    <module>SM_Bestseller</module>
                </setup>
            </SM_Bestseller_setup>
        </resources>
    </global>
</config>