<?xml version="1.0"?>
<config>
    <modules>
        <Hungbd_Filter>
            <version>0.1.0</version>
        </Hungbd_Filter>
    </modules>
    <frontend>
        <routers>
            <hungbd_filter>
                <use>standard</use>
                <args>
                    <module>Hungbd_Filter</module>
                    <frontName>filter</frontName>
                </args>
            </hungbd_filter>
        </routers>
    </frontend>
    <global>
        <models>
            <hungbd_filter>
                <class>Hungbd_Filter_Model</class>
                <resourceModel>hungbd_filter_resource</resourceModel>
            </hungbd_filter>
            <hungbd_filter_resource>
                <class>Hungbd_Filter_Model_Resource</class>
            </hungbd_filter_resource>
        </models>
        <blocks>
            <hungbd_filter>
                <class>Hungbd_Filter_Block</class>
            </hungbd_filter>
        </blocks>
        <helpers>
            <hungbd_filter>
                <class>Hungbd_Filter_Helper</class>
            </hungbd_filter>
        </helpers>
        <resources>
            <Hungbd_Filter_setup>
                <setup>
                    <module>Hungbd_Filter</module>
                    <class>Mage_Eav_Model_Entity_Setup</class>
                </setup>
            </Hungbd_Filter_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Hungbd_Filter after="Mage_Adminhtml">Hungbd_Filter_Adminhtml</Hungbd_Filter>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>