<?xml version="1.0"?>
<config>
    <modules>
        <Hungbd_Filter>
            <version>0.1.0</version>
        </Hungbd_Filter>
    </modules>
    <global>
        <models>
            <hungbd_filter>
                <class>Hungbd_Filter_Model</class>
                <resourceModel>hungbd_filter_resource</resourceModel>
            </hungbd_filter>
            <hungbd_filter_resource>
                <class>Hungbd_Filter_Model_Resource</class>
            </hungbd_filter_resource>
        </models>
        <blocks>
            <hungbd_filter>
                <class>Hungbd_Filter_Block</class>
            </hungbd_filter>
        </blocks>
        <helpers>
            <hungbd_filter>
                <class>Hungbd_Filter_Helper</class>
            </hungbd_filter>
        </helpers>
        <resources>
            <Hungbd_Filter_setup>
                <setup>
                    <module>Hungbd_Filter</module>
                </setup>
            </Hungbd_Filter_setup>
        </resources>
    </global>
</config>