<?xml version="1.0"?>
<config>
    <modules>
        <AnhNT9_Slider>
            <version>0.1.0</version>
        </AnhNT9_Slider>
    </modules>
    <frontend>
        <routers>
            <anhnt9_slider>
                <use>standard</use>
                <args>
                    <frontName>product-slider</frontName>
                    <module>AnhNT9_Slider</module>
                </args>
            </anhnt9_slider>
        </routers>
        <layout>
            <updates>
                <anhnt9_slider>
                    <file>anhnt9_slider.xml</file>
                </anhnt9_slider>
            </updates>
        </layout>
    </frontend>

    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <AnhNT9_Slider after="Mage_Adminhtml">AnhNT9_Slider_Adminhtml</AnhNT9_Slider>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>

    <global>
        <resources>
            <anhnt9_slider_setup>
                <setup>
                    <module>AnhNT9_Slider</module>
                </setup>
            </anhnt9_slider_setup>
        </resources>
        <models>
            <anhnt9_slider>
                <class>AnhNT9_Slider_Model</class>
                <resourceModel>anhnt9_slider_resource</resourceModel>
            </anhnt9_slider>
            <anhnt9_slider_resource>
                <class>AnhNT9_Slider_Model_Resource</class>
                <entities>
                    <slider2>
                        <table>slider_manager</table>
                    </slider2>
                    <image2>
                        <table>slider_image</table>
                    </image2>
                </entities>
            </anhnt9_slider_resource>
        </models>
        <blocks>
            <anhnt9_slider>
                <class>AnhNT9_Slider_Block</class>
            </anhnt9_slider>
        </blocks>
        <helpers>
            <anhnt9_slider>
                <class>AnhNT9_Slider_Helper</class>
            </anhnt9_slider>
        </helpers>
    </global>
</config>