<?xml version="1.0"?>
<config>
    <modules>
        <AnhNT9_Slider>
            <version>0.1.0</version>
        </AnhNT9_Slider>
    </modules>
    <frontend>
        <routers>
            <anhnt9_slider>
                <use>standard</use>
                <args>
                    <frontName>product-slider</frontName>
                    <module>AnhNT9_Slider</module>
                </args>
            </anhnt9_slider>
        </routers>
        <layout>
            <updates>
                <anhnt9_slider>
                    <file>anhnt9_slider.xml</file>
                </anhnt9_slider>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <anhnt9_slider>
                <class>AnhNT9_Slider_Model</class>
                <resourceModel>anhnt9_slider_resource</resourceModel>
            </anhnt9_slider>
            <anhnt9_slider_resource>
                <class>AnhNT9_Slider_Model_Resource</class>
            </anhnt9_slider_resource>
        </models>
        <blocks>
            <anhnt9_slider>
                <class>AnhNT9_Slider_Block</class>
            </anhnt9_slider>
        </blocks>
        <helpers>
            <anhnt9_slider>
                <class>AnhNT9_Slider_Helper</class>
            </anhnt9_slider>
        </helpers>
    </global>
</config>