<?xml version="1.0"?>
<config>
    <modules>
        <Hienth_ProductLabel>
            <version>0.1.0</version>
        </Hienth_ProductLabel>
    </modules>
    <global>
        <models>
            <productlabel>
                <class>Hienth_ProductLabel_Model</class>
                <resourceModel>productlabel_resource</resourceModel>
            </productlabel>
            <productlabel_resource>
                <class>Hienth_ProductLabel_Model_Resource</class>
            </productlabel_resource>
        </models>
        <blocks>
            <productlabel>
                <class>Hienth_ProductLabel_Block</class>
            </productlabel>
        </blocks>
        <helpers>
            <productlabel>
                <class>Hienth_ProductLabel_Helper</class>
            </productlabel>
        </helpers>
        <resources>
            <productlabel_setup>
                <setup>
                    <module>Hienth_ProductLabel</module>
                </setup>
            </productlabel_setup>
        </resources>
    </global>
    <frontend>
        <routers>
            <productlabelfront>
                <use>standard</use>
                <args>
                    <module>Hienth_ProductLabel</module>
                    <frontName>productlabel</frontName>
                </args>
            </productlabelfront>
        </routers>
    </frontend>
</config>